/* CSS */

body {
	line-height: 0;
	font-family: helvetica;
}

.container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	text-align: center;
}

.grid {
	height: 600px;
	width: 600px;
	border: dotted gray 2px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.square {
	display: inline-block;
	background-color: gray;
	padding: 0;
	margin: 0;
}

button > a {
	text-decoration:none;
	font-color:black;
}